.jumbotron p {
    font-size: 16px;
}

#gameBoard {
    display: flex;
    justify-content: space-around;
}

img {
    height: 200px;
    width: 200px;
    margin: 50px 115px;
}


.controls {
    margin-left: 170px;
}
.button {
    background-color: lightblue;
    width: 100px;
    margin: 15px;
    text-align: center;
}

/*SCORE+BULLETS SECTION*/

.score {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    font-weight: bolder;
    line-height: 20px;
}

input {
    border: none;
}

/*FOOTER*/
footer {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}
